<div class="page">
    <div class="btn-add-diagnose" ui-sref="patient.addDiagnose" title="Add diagnose">+</div>
    
    <div class="diagnoses-list-container">
        <div class="diagnoses-list current">
            <h1>Current Diagnoses:</h1>
            <table>
                <thead>
                    <tr>
                        <th style="width: 14%;">Code</th>
                        <th>Diagnosis</th>
                        <th style="width: 18%;">Addition Date</th>
                        <th style="width: 10%;"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="anItem in vmList.currentItems track by anItem.id">
                        <td>{{::anItem.code}}</td>
                        <td>{{::anItem.description}}</td>
                        <td>{{::anItem.dt_added | date : 'dd/MM/yyyy'}}</td>
                        <td class="text-right actions">
                            <span class="action-btn btn-edit" ui-sref="patient.editDiagnose({itemId: anItem.id})" title="Edit"><i class="fa fa-pencil" aria-hidden="true"></i></span>
                            <span class="action-btn btn-delete" title="Delete" ng-click="vmList.deleteItem(anItem)"><i class="fa fa-times-circle" aria-hidden="true"></i></span>
                        </td>
                    </tr>
                    <tr ng-if="vmList.currentItems.length === 0">
                        <td colspan="4" class="no-results">No Diagnoses</td>
                    </tr>
                </tbody>
            </table>
        </div>
    
        <div class="diagnoses-list history">
            <h1>Diagnoses History:</h1>
            <table>
                <thead>
                    <tr>
                        <th style="width: 14%;">Code</th>
                        <th>Diagnosis</th>
                        <th style="width: 18%;">Addition Date</th>
                        <th style="width: 18%;">Removal Date</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="anItem in vmList.historyItems track by anItem.id">
                        <td>{{::anItem.code}}</td>
                        <td>{{::anItem.description}}</td>
                        <td>{{::anItem.dt_added | date : 'dd/MM/yyyy'}}</td>
                        <td>{{::anItem.dt_deleted | date : 'dd/MM/yyyy'}}</td>
                    </tr>
                    <tr ng-if="vmList.historyItems.length === 0">
                        <td colspan="4" class="no-results">No Diagnoses</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>