<div class="page">
    <h1>Edit patient</h1>
    
    <form class="form-edit-item" name="EditPatientForm" novalidate ng-class="{'is-submitted': EditPatientForm.$submitted}">
        <div class="edit-patient">
            <div class="row">
                <div class="col-half">
                    <div class="form-group" ng-class="{'has-error': EditPatientForm.name.$invalid}">
                        <label for="name" class="control-label">Patient Name: <span class="required-mark">*</span></label>
                        <input id="name" class="form-control" type="text" name="name" ng-model="vmEditPatient.item.name" required focus-on-event="focus.name">
                        <div class="error-message" ng-if="EditPatientForm.name.$error.required">Required field</div>
                    </div>
                </div>
                <div class="col-half">
                    <div class="form-group" ng-class="{'has-error': EditPatientForm.dob.$invalid}">
                        <label for="dob" class="control-label">DOB: <span class="required-mark">*</span></label>
                        <input id="dob" class="form-control" type="text" name="dob" ng-model="vmEditPatient.item.dob" required date-time format="DD/MM/YYYY" view="date" min-view="date" is-valid-date>
                        <div class="error-message" ng-if="EditPatientForm.dob.$error.validDate">Please select date</div>
                    </div>
                </div>
            </div>
            
            <div class="form-group">
                <label for="address" class="control-label">Full Address:</label>
                <input id="address" class="form-control" type="text" name="address" ng-model="vmEditPatient.item.address">
            </div>
        </div>
        
        <div class="actions text-right">
            <button type="button" class="btn btn-default" ui-sref="patient.diagnosesList">Cancel</button>
            <button type="submit" class="btn btn-primary" ng-click="vmEditPatient.submit()">Save</button>
        </div>
    </form>
</div>
