<div class="patient-info">
    <h1>
        <span>{{$ctrl.patient.name}}</span>
        <a ui-sref="patient.edit({itemId: $ctrl.patient.id})" title="Edit patient">
            <i class="fa fa-pencil" aria-hidden="true"></i>
        </a>
    </h1>
    
    <div ng-if="$ctrl.patient.dob">
        <div class="field">
            <div class="field-name">Birthday:</div>
            {{$ctrl.patient.dob | date : 'dd/MM/yyyy'}}
        </div>
        
        <div class="field">
            <div class="field-name">Full Address:</div>
             {{$ctrl.patient.address}}
        </div>
    </div>
    
    <div ng-if="!$ctrl.patient.dob" class="empty-state">
        No information
    </div>
</div>
