<div class="side-panel-wrap">
    <div class="side-panel">
        <patient-info patient="vmPatient.patient"></patient-info>
    </div>
</div>

<div class="content-wrap-outer">
    <patient-breadcrumbs patient="vmPatient.patient"></patient-breadcrumbs>
    <div class="content" ui-view></div>
</div>
