.btn-add-diagnose {
    position: fixed;
    top: 17px;
    right: 15px;
    z-index: 1;
    background-color: #333333;
    color: #f5f5f5;
    font-size: 30px;
    cursor: pointer;
    display: block;
    width: 36px;
    height: 36px;
    text-align: center;
    border-radius: 50%;
    line-height: 123%;
    font-weight: bold;
    -webkit-box-shadow: 3px 3px 3px 0px rgba(0,0,0,0.24);
    -moz-box-shadow: 3px 3px 3px 0px rgba(0,0,0,0.24);
    box-shadow: 3px 3px 3px 0px rgba(0,0,0,0.24);
    &:hover {
        color: #fff;
    }
}

.btn {
    display: inline-block;
    padding: 13px 33px;
    border-radius: 3px;
    border-style: solid;
    border-width: 0;
    cursor: pointer;
    text-transform: uppercase;
    -webkit-box-shadow: 3px 3px 3px 0px rgba(0,0,0,0.24);
    -moz-box-shadow: 3px 3px 3px 0px rgba(0,0,0,0.24);
    box-shadow: 3px 3px 3px 0px rgba(0,0,0,0.24);
    &.btn-default {
        background-color: #f5f5f5;
        &:hover {
            background-color: #fff;
        }
    }
    &.btn-primary {
        background-color: #3dbafb;
        color: #fff;
        &:hover {
            background-color: #4dc2ff;
        }
    }
}

.form-edit-item {
    .actions {
        .btn {
            margin-left: 10px;
        }
    }
}

.action-btn {
    cursor: pointer;
    display: inline-block;
    font-size: 130%;
    margin: 0 4px;
    &.btn-edit {
        color: #cccccc;
        &:hover {
            color: #999;
        }
    }
    &.btn-delete {
        color: #ff4747;
        &:hover {
            color: #ff1c1c;
        }
    }
}