.control-label {
    display: block;
    font-size: 83%;
}

.form-edit-item {
    margin: 30px 30px 0;
    .error-message {
        display: none;
        color: red;
    }
    &.is-submitted {
        .error-message {
            display: block;
            margin-top: 5px;
        }
        .has-error {
            .control-label {
                color: red;
            }
            .form-control {
                border-bottom-color: red;
            }
        }
    }
}

.edit-patient {
    width: 680px;
}

.form-group {
    margin: 0 0 33px;
}

.form-control {
    display: block;
    width: 100%;
    outline: none;
    border: none;
    border-bottom: 1px solid #cccccc;
    font-size: 110%;
    padding: 10px 0;
    &:focus {
        border-bottom-color: #3dbafb !important;
    }
}