* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
*:before,
*:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    position: relative;
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    color: #333;
    font-size: 14px;
}

h1 {
    font-weight: normal;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.clear {
    clear: left;
}

.notfound {
    padding-top: 100px;
    text-align: center;
}