.toolbar {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    height: 36px;
    color: #fff;
    background-color: #3dbafc;
    z-index: 1;
    margin: 0;
    padding: 0;
    overflow: hidden;
    li {
        list-style: none;
        text-transform: uppercase;
        color: #0d82c5;
        display: inline-block;
        padding: 6px 11px;
        font-size: 94%;
        margin: 5px 0;
        &.active {
            color: #fff;
            border-bottom: 4px solid #fff;
        }
        &:first-child {
            padding-left: 25px;
        }
    }
}

.side-panel-wrap {
    position: absolute;
    left: 0;
    top: 0;
    width: @sidebar-width;
    background-color: #646464;
    color: #fff;
    height: 100%;
}

.side-panel {
    margin: 54px 18px 18px 18px;
}

.content-wrap-outer {
    position: absolute;
    top: 36px;
    left: 256px;
    right: 0;
    bottom: 0;
    overflow-y: auto;
}

.breadcrumbs {
    background-color: #f1f1f1;
    color: #5e5e5e;
    padding: 12px 21px;
    font-size: 12px;
}

.page {
    h1 {
        background-color: #3dbafc;
        color: #fafafa;
        margin: 0;
        padding: 20px 0 20px @content-padding;
        font-size: 23px;
    }
}

.row {
    margin-right: -15px;
    margin-left: -15px;
    .col-half {
        width: 50%;
        float: left;
        padding-right: 15px;
        padding-left: 15px;
        display: inline-block;
        position: relative;
    }
    &:before, &:after {
        display: table;
        content: " ";
    }
    &:after {
        clear: both;
    }
}
