.patient-info {
    h1 {
        font-size: 24px;
        span {
            display: inline-block;
            width: 195px;
        }
        a {
            text-decoration: none;
            color: #eaeaea;
            display: inline-block;
            float: right;
            font-size: 93%;
            &:hover {
                color: #fff;
            }
        }
    }
    .field {
        margin-bottom: 15px;
    }
    .field-name {
        font-size: 84%;
        margin-bottom: 4px;
    }
    .empty-state {
        text-align: center;
    }
}
