@media only screen and (min-width: 1200px) {
    .diagnoses-list-container {
        .diagnoses-list {
            width: 50%;
            float: left;
            display: inline-block;
            &.history {
                h1 {
                    background-color: #64c7fe;
                }
            }
        }
        &:before, &:after {
            display: table;
            content: " ";
        }
        &:after {
            clear: both;
        }
    }
}