table {
    width: 100%;
    border-collapse: collapse;
}

thead {
    background-color: #e8e8e8;
}

th {
    padding: 23px 0;
    font-weight: normal;
    white-space: nowrap;
    text-align: left;
    &:first-child {
        padding-left: @content-padding;
    }
}

.no-results {
    text-align: center;
    padding: 22px 0;
}

tbody {
    tr {
        border-bottom: 1px solid #e8e8e8;
    }
}

td {
    vertical-align: top;
    padding: 22px 5px;
    &:first-child {
        padding-left: @content-padding;
    }
    &.actions {
        padding-right: 20px;
        min-width: 80px;
    }
}