<div class="page">
    <h1 ng-if="::vmEdit.isEditMode">Edit diagnose</h1>
    <h1 ng-if="::!vmEdit.isEditMode">Add diagnose</h1>
    
    <form class="form-edit-item" name="EditDiagnoseForm" novalidate ng-class="{'is-submitted': EditDiagnoseForm.$submitted}">
        <div class="form-group" ng-class="{'has-error': EditDiagnoseForm.code.$invalid}">
            <label for="code" class="control-label">Code: <span class="required-mark">*</span></label>
            <input id="code" class="form-control" type="number" name="code" ng-model="vmEdit.item.code" required ng-minlength="6" focus-on-event="focus.code">
            <div class="error-message" ng-if="EditDiagnoseForm.code.$error.required">Required field</div>
            <div class="error-message" ng-if="EditDiagnoseForm.code.$error.minlength">Minimum length is 6 symbols</div>
        </div>
        
        <div class="form-group" ng-class="{'has-error': EditDiagnoseForm.description.$invalid}">
            <label for="description" class="control-label">Diagnos: <span class="required-mark">*</span></label>
            <input id="description" class="form-control" type="text" name="description" ng-model="vmEdit.item.description" required>
            <div class="error-message" ng-if="EditDiagnoseForm.description.$error.required">Required field</div>
        </div>
        
        <div class="actions text-right">
            <button type="button" class="btn btn-default" ui-sref="patient.diagnosesList">Cancel</button>
            <button type="submit" class="btn btn-primary" ng-click="vmEdit.submit()">Save</button>
        </div>
    </form>
</div>
